.contact {
  padding: 104px 0 120px;
  color: #222;
}

.contact__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.contact__title-text_red {
  color: #d10014;
}

.form {
  border-radius: 32px;
  padding: 60px;
  background-color: #fff;
}

.form__fieldset {
  margin-bottom: 32px;
  display: none;
}

.form__fieldset--active {
  display: block;
}

.form__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 32px;
}

.form__radio-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.form__radio-wrapper:last-child {
  margin-bottom: 0;
}

.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio__label {
  display: block;
  padding: 12px 20px;
  border-radius: 50px;
  background: #f0f4f4;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  border: 1px solid transparent;
  cursor: pointer;
}

.radio__label:hover {
  background-color: #e4f0f0;;
}

.radio__input:focus-visible + .radio__label {
  border-color: #d10014;
}

.radio__input:checked + .radio__label {
  background-color: #222;
  color: #fff;
}

.form__months {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.form__btn-month {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.form__btn-month_active {
  color: #d10014;
  transform: scale(1.05);
}

.form__time {
  display: none;
}

.form__subtitle {
  margin-bottom: 16px;
  color: #222;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.form__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 32px;
  gap: 12px 8px;
}

.form__input {
  border-radius: 8px;
  padding: 12px 20px;
  background-color: #f0f4f4;
  border: 1px solid transparent;
  color: inherit;
}

.form__input:hover {
  background-color: #f0f4f4;
}

.form__input:focus-visible {
  border-color: #D0D0D0;

}

/* .form__input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #222;
} */

.form__info {
  font-weight: 500;
  line-height: 140%;
}

.form__btn-wrapper {
  display: flex;
  gap: 8px;
}

.form_btn {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #222;
  border-radius: 50px;
  background-color: #f0f4f4;
}

.form__btn-next {
  color: #FFF;
  background-color: #D10014;
}

.form__btn-submit {
  color: #FFF;
  background-color: #D10014;
  display: none;
}

.form_btn:disabled {
  color: #222;
  background: #f0f4f4;
  opacity: 0.4;
  pointer-events: none;
}

@media (max-width: 1080px) {
  .contact {
    padding-top: 60px;
  }

  .contact__title {
    font-size: 60px;
  }
  
  .form {
    padding: 40px;
  }

  .form__title {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 50px 0 100px;
  }

  .contact__title {
    font-size: 48px;
  }
}

@media (max-width: 660px) {
  .contact {
    padding: 50px 0 80px;
  }

  .contact__title {
    font-size: 32px;
  }

  .form {
    padding: 24px 16px;
    border-radius: 16px;
  }

  .form__input-wrapper {
    grid-template-columns: 1fr;
  }
}